<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/image/virus.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>About Me</h1>
        <img class="portrait" src="/image/robot.png" alt="">
    </div>
    {{>footer}}
</body>

</html>